<% layout("/layout/boilerplate") %>
<body>
    <div class="row mt-2 ">
    <div class="col-8 offset-3 mb-2">
    <h3><b> Child details</b> </h3>
    </div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" style="height: 20rem;">
        <div class="card-body">
          <p class="card-text mt-2">
            <b>Name: <%= listing.name %></b> <br>
            <b>Nature: </b><%= listing.title %><br>
            <b>Age: </b><%= listing.age %>&nbsp; years old  <br>
            <b>Orphanage Name: </b><%= listing.orphanage_name %><br>
            <b>Contact : </b><%= listing.contact %><br>
            <b>Detailed Description: </b><%= listing.description %><br>
            <b>Owned by user: </b><i><%= listing.owner.username %></i><br>
        </p>
        </div>
    </div>
    </div>
   
    <div class="btns mb-5">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark offset-5 delete-btn">Delete</button>
          </form>
    </div>
    
    
</body>
